html,
body {
  height: 100%;
}
a{
  color: $c-violet;
  &:hover{
    color: $c-violet;
  }
  &:focus{
    outline: none;
  }
}
.align-center{
  text-align: center;
}
.site-wrapper{
  font-family: "BrutalRegular";
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: $c-main;
  min-width: 940px;
}
.content {
  flex: 1 0 auto;
}
.wrapper940{
  width: 940px;
  margin: 0 auto;
}
.wrapper980{
  width: 980px;
  margin: 0 auto;
}
.wrapper{
  background: $c-white;
  -webkit-box-shadow: inset 0px 4px 10px 0px rgba(145,199,250,0.2);
  -moz-box-shadow: inset 0px 4px 10px 0px rgba(145,199,250,0.2);
  box-shadow: inset 0px 4px 10px 0px rgba(145,199,250,0.2);
  &.sticky{
    margin-top: 154px;
  }
  &.wrapper_grey_bg{
    background: $c-bg2;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.grad:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0,0,0,0.4) 0%, transparent 50%, transparent 100%);
  position: absolute;
  top: 0;
  left: 0;
  transition: .5s;
}
.red-button{
  color: $c-white;
  background: $с-red-button;
  text-align: center;
  text-decoration: none;
  transition: .5s;
  &:hover{
    background: $с-red-button-hover;
    color: $c-white;
    text-decoration: none !important;
  }
}
.white-button{
  color: $c-blue;
  background: $c-white;
  text-align: center;
  text-decoration: none;
  transition: .5s;
  border: 1px solid $c-white;
  &:hover{
    text-decoration: none !important;
    border: 1px solid $c-gray-border !important;
  }
}
.show-more{
  width: 220px;
  font: 18px/60px "BrutalLight";
  display: block;
  margin: 0 auto;
}
.play-icon{
  background: url(images/big-play.png) 0 0 no-repeat;
  width: 106px;
  height: 106px;
  &:hover{
    background-position: 0 -106px;
  }
}

.angle{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.angle-foto{
  background: url(images/angle-foto.png) no-repeat;
  width: 57px;
  height: 55px;
}
.angle-video{
  background: url(images/angle-video.png) no-repeat;
  width: 58px;
  height: 55px;
}
.angle-link{
  background: url(images/angle-link.png) no-repeat;
  width: 56px;
  height: 55px;
}
.angle-phone{
  background: url(images/angle-phone.png) no-repeat;
  width: 57px;
  height: 55px;
}
.angle-blank{
  background: url(images/angle.png) no-repeat;
  width: 57px;
  height: 55px;
}
.inner_page{
  padding-top: 43px;
  font-size: 17px;
  line-height: 30px;
  font-family: "OpenSansLight";
  h1{
    font-family: "BrutalBold";
    font-size: 36px;
    line-height: 60px;
    margin-bottom: 26px;
  }
  h2{
    font: 27px/30px "BrutalBold";
    margin-bottom: 32px;
  }
  p{
    margin-bottom: 30px;
  }
  a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  ol{
    counter-reset: num;

    li{
      margin-bottom: 30px;
      display: flex;
      &:before{
        content: counter(num);
        counter-increment: num;
        width: 30px;
        height: 30px;
        background-color: $c-bg2;
        border: 1px solid $c-gray-border;
        text-align: center;
        display: block;
        //float: left;
        color: $c-violet;
        font-size: 17px;
        font-family: "BrutalBold";
        margin-right: 20px;
        flex: 0 0 30px;
      }
      /*&:after{
        content: "";
        display: table;
        clear: both;
      }*/
    }
  }
  ul:not(.select-ul){
    margin-bottom: 30px;
    li{
      line-height: 36px;
      list-style-image: url(images/red-li.png);
      margin-left: 15px;
      padding-left: 14px;
      margin-bottom: 5px;
    }
  }
  .blueblock{
    background: url(images/blue-block-bg.png) $c-bg2 no-repeat;
    margin-bottom: 32px;
    padding-top: 33px;
    font-size: 17px;
    line-height: 25px;
    height: 147px;
    overflow: hidden;
  }
  .img{
    width: 380px;
    float: left;
    text-align: center;
    padding-top: 8px;
    min-height: 100px;
  }
  .block-content{
    .text{
      margin-bottom: 25px;
    }
    .link{
      font-family: "OpenSans";
    }
  }
  .two-gray-blocks{
    margin: 0 -10px 87px;
    .one-gray-block{
      position: relative;
      width: 400px;
      background-color: $c-bg2;
      border: 1px solid $c-gray-border;
      float: left;
      padding: 31px 28px 25px;
      margin: 10px;
      .fio{
        text-transform: uppercase;
        font-size: 21px;
        line-height: 30px;
        margin-bottom: 2px;
        font-family: "BrutalRegular";
      }
      .position{
        font: 17px/30px "BrutalLight";
        margin-bottom: 30px;
      }
      .contacts{
        font-family: "BrutalLight";
      }
    }
  }
  .bottomblock{
    margin-top: 86px;
  }

  .block-with-h2{
    &.mb80{
      margin-bottom: 80px;
    }
    .bwh2-block{
      margin-bottom: 55px;
      .ttl{
        font: 21px/30px "OpenSans";
        margin-bottom: 20px;
      }
    }
  }

}
.second-nav{
  border-bottom: 1px solid #e8e8e8;
  //padding-top: 7px;
  display: flex;
  height: 42px;
  padding-top: 29px;
  li{
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    margin-right: 18px;
    a{
      color: $c-light-grey;
      text-decoration: none;
      display: block;
      width: 100%;
      height: 100%;
    }
    &.active{
      border-bottom: 2px solid $c-blue;
      a{
        color: $c-blue;
      }
    }
    &:hover{
      a{
        color: $c-blue;
      }
    }
    &:last-of-type{
      margin-right: 0;
    }
  }

}
.fullwidth{
  margin-left: calc((100vw - 957px) / -2);
  margin-right: calc((100vw - 957px) / -2);
  height: 350px;
  color: $c-white;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  &.invest2{
    background-image: url(images/invest-2-back.jpg);
  }
  &.invest1{
    background-image: url(images/invest-1-back.jpg);
  }
  &.invest3{
    background-image: url(images/invest-3-back.jpg);
  }
  &.corruption{
    background-color: #1c1c1c;
    background-image: linear-gradient(to right, #000002 0%, #4d60a7 0%, #3eb5f1 100%);
  }
  &.about-1-bg{
    background-image: url(images/about-1-bg.jpg);
  }
  &.gradient{
    background-color: #f6f7fa;
    background-image: linear-gradient(to right, #4d60a7 0%, #3eb5f1 100%);
    margin-bottom: 72px;
    height: 455px;
    text-align: center;
    .gradient-ttl{
      font-size: 36px;
      font-family: "BrutalBold";
      margin-bottom: 10px;
    }
    .under-ttl{
      font-family: "BrutalRegular";
      margin-bottom: 54px;
    }
    .inner{
      padding: 83px 0 0 !important;
    }
    .percents-block{
      .percents-item{
        width: 470px;
        float: left;
        &:before{
          content: "";
          height: 45px;
          display: block;
          margin-bottom: 18px;
        }
        &.percents-item-1:before{
          background: url(images/percent-icon-1.png) no-repeat center center;
        }
        &.percents-item-2:before{
          background: url(images/percent-icon-2.png) no-repeat center center;
        }
        .percent{
          font-family: "BrutalBold";
          font-size: 60px;
          line-height: 60px;
          margin-bottom: 10px;
        }
        .under-percent{
          font: 17px/25px "BrutalRegular";
        }
      }
    }
  }
  &.ann-report{
    background: url(images/otchet-bg.jpg) no-repeat top center;
    background-size: cover;
    margin-bottom: 50px;
    margin-top: -12px;
    height: 320px;
    .inner{
      padding: 73px 0 0 !important;
    }
  }
  .inner{
    padding: 98px 0 130px;
    position: relative;
    .ttl{
      font: 36px "BrutalBold";
      margin-bottom: 16px;
      margin-left: 56px;
    }
    .text{
      background: url(images/icon-doc.png) no-repeat;
      padding-left: 60px;
      height: 54px;
      font-size: 19px;
      line-height: 25px;
      width: 610px;
      font-family: "BrutalRegular";
    }
    .readmore{
      position: absolute;
      top:156px;
      right: 0px;
      display: block;
      line-height: 60px;
      width: 220px;
      font-family: "BrutalLight";
    }
  }
  &.fullwidth-nottl{
    .text{
      height: auto;
      font: 36px/36px "BrutalBold";
      background-position: center left;
    }
    .inner{
      padding-top: 136px;
    }
  }
}
.doc-icon{
  width: 39px;
  height: 54px;
  display: block;
}
.pdf{
  background: url(images/pdf.png) no-repeat;
}
.pdf-white{
  background: url(images/pdf-white.png) no-repeat;
}
.pdf-blue{
  background: url(images/pdf-blue.png) no-repeat;
}
.doc{
  background: url(images/doc.png) no-repeat;
}
.rar{
  background: url(images/rar.png) no-repeat;
}
.xls{
  background: url(images/xls.png) no-repeat;
}
.eps{
  background: url(images/eps.png) no-repeat;
}
.jpg{
  background: url(images/jpg.png) no-repeat;
}
.eps-w{
  background: url(images/eps-w.png) no-repeat;
}
.jpg-w{
  background: url(images/jpg-w.png) no-repeat;
}
.accordeon-block{
  border-bottom: 1px solid $c-gray-border;
  .accordeon-ttl{
    font-size: 21px;
    line-height: 30px;
    font-family: "BrutalBold";
    padding-top: 40px;
    padding-bottom: 44px;
    cursor: pointer;
    span::after{
      content: "";
      height: 9px;
      display: inline-block;
      margin-left: 15px;
    }
  }
  .accordeon-body{
    padding-bottom: 45px;
  }
  &.close{
    .accordeon-ttl{
      color: $c-violet;
      span::after{
        background: url(images/acc.png) no-repeat;
        width: 16px;
      }
    }
    .accordeon-body{
      display: none;
    }
  }
  &.open{
    .accordeon-ttl{
      color: $c-main;
      span::after{
        background: url(images/acc.png) no-repeat;
        background-position: -16px 0;
        width: 17px;
      }
    }
  }
  &:last-of-type{
    border-bottom: none;
    margin-bottom: 106px;
  }
}
.accordeon-list{
  margin-top: -16px;
  &.accordeon-bold{
    .accordeon-block{
      &.close{
        border-bottom: 2px solid $c-violet;
      }
      &.open{
        border-bottom: 2px solid $c-gray-border;
      }
    }
  }
}
.form-block{
  border: 1px solid #e8e8e8;
  margin-bottom: 48px;
  padding: 43px 190px 32px;
  position: relative;
  background: url(images/form-poligon.png) no-repeat top right;
  .form-ttl{
    margin-bottom: 43px;
    .form-h{
      font: 36px/42px "BrutalBold";
      text-align: center;
      margin-bottom: 20px;
    }
    .form-label{
      text-align: center;
      font: 17px/25px "BrutalRegular";
    }
  }
  .sendMessage{
    input[type="text"],
    input[type="email"],
    textarea{
      margin-bottom: 28px;
      width: 524px;
    }
    textarea{
      height: 140px;
      margin-bottom: 20px;
    }
    .captcha{
      margin-bottom: 30px;
    }
    input[type="submit"]{
      width: 100%;
    }
  }

}
.address-blocks{
  .address-block{
    border-bottom: 1px solid $c-gray-border;
    padding-bottom: 30px;
    margin-bottom: 54px;
    &:last-of-type{
      border-bottom: none;
      margin-bottom: 0;
    }
    .left-block{
      float: left;
      width: 490px;
      .ttl{
        font: 21px/30px "OpenSans";
        margin-bottom: 5px;
      }
      .date{
        color: $c-footer;
        font: 15px/36px "OpenSansLight";
        font-style: italic;
        margin-bottom: 40px;
      }
      .contacts{
        .contacts-block{
          display: flex;
          .icon{
            flex-basis: 66px;
            &.icon-director{
              background: url(images/icon-director.png) no-repeat;
              background-position: 10px 0;
            }
            &.icon-point{
              background: url(images/icon-point.png) no-repeat;
              background-position: 13px 0;
            }
          }
          .contnt{
            flex-basis: 370px;
            a{
              font-size: 13px;
            }
          }
          &.director{
            margin-bottom: 32px;
          }
          &.address{
            .cont-text{
              margin-bottom: 4px;
            }
          }
        }
        .cont-ttl{
          font-family: "OpenSans";
          margin-bottom: 8px;
          line-height: 24px;
        }
        .cont-text{
          font-size: 15px;
          line-height: 21px;
          margin-bottom: 10px;
        }
      }
    }
    .map-block{
      float: left;
      width: 450px;
      height: 350px;
    }
  }
}
.prev-news-block{
  margin: 0 -10px;
}
.prev-news-item-img{
  @include bg-img();
}
.prev-news-item{
  float: left;
  background: $c-white;
  display: block;
  overflow: hidden;
  text-decoration: none;
  margin: 10px;
  position: relative;
  .prev-news-item-img{
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 300px;
    img{
      min-width: 100%;
      min-height: 100%;
    }
  }
  .prev-news-item-body{
    padding: 11px 22px 0px;
    height: 175px;
    overflow: hidden;
    .date{
      font: 14px "OpenSans";
      color: #4d60a7;
      margin-bottom: 9px;
    }
    .ttl{
      font: 18px/25px "BrutalMedium";
      margin-bottom: 16px;
      color: #383838;
    }
    .desc{
      font-size: 15px;
      line-height: 25px;
      color: #848790;
    }
  }
  &.prev-news-item-small{
    width: 300px;
    height: 410px;
    .prev-news-item-img{
      &:after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transition: .5s;
        background-color: rgba(0,0,0,0);
      }
    }
    &:hover{
      .prev-news-item-img{
        &:after{
          background-color: rgba(0,0,0,0.2);
        }
      }
    }
  }
  &.prev-news-item-big{
    width: 460px;
    height: 310px;
    .prev-news-item-img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &::after{
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, transparent 50%, transparent 100%);
      position: absolute;
      top: 0;
      left: 0;
    }
    .prev-news-item-body{
      position: absolute;
      left: 0;
      bottom: 0;
      height: auto;
      z-index: 1;
      .date{
        color: $c-white;
      }
      .ttl{
        color: $c-white;
      }
    }
  }
}
.fancybox-bg{
  background-color: $c-violet !important;
  opacity: .68 !important;
}
.prev-block{
  padding-top: 84px;
  padding-bottom: 50px;
  background: $c-bg2;
  .title{
    text-align: center;
    font-size: 36px;
    font-family: "BrutalBold";
    margin-bottom: 32px;
  }
}
.slider{
  overflow: hidden;
  position: relative;
}
.diagram-cut{
  overflow: hidden;
}
.full-grey{
  background: $c-bg2;
  margin-left: calc((100vw - 957px) / -2);
  margin-right: calc((100vw - 957px) / -2);
}
