/* COLORS */
$c-main: #383838;
$c-blue: #007dc5;
$c-violet:#4d60a7;
$c-light-grey: #acacac;
$c-border-lang: #b4b4b4;
$c-bg: #f2f7fb;
$c-bg2: #f6f7fa;
$с-red-button: #ee2e30;
$с-red-button-hover: #fb1618;
$c-white: #fff;
$c-footer: #848790;
$c-gray-border: #e8e8e8;
