.press-ttl{
  background-image: linear-gradient(to right, #4d60a7 0%, #3eb5f1 100%);
  width: 100%;
  padding: 85px 0 70px;
  color: $c-white;
  text-align: center;
  h1{
    font: 48px/60px "BrutalBold";
    margin-bottom: 13px;
  }
  .label{
    font: 19px/25px "BrutalRegular";
    margin-bottom: 34px;
  }
  .input{
    display: inline-block;
    input{
      width: 310px;
      margin-right: 10px;
      position: relative;
      &:after{
        content: "E-mail";
        position: absolute;
        top: 5px;
        left: 10px;
        color: $c-footer;
      }
    }
  }
  input[type="submit"]{
    width: 220px;
  }
}
.news-and-press{
  background-color: $c-bg2;
  .wrapper940{
    position: relative;
    padding: 73px 0 45px;
  }
  &.last-news{
    background: url(images/index-bg-1.png) no-repeat top center;
    background-size: cover;
    .wrapper940{
      padding-bottom: 62px;
    }
  }
  .index-ttl{
    text-align: center;
    margin-bottom: 22px;
  }
  .see-all{
    top: 97px;
    right: 0px;
  }
  .prev-news-item{
    &::after{
      transition: .5s;
    }
    &:hover::after{
      background-color: rgba(0,0,0,0.2);
    }
  }
}
.press-center{
  border-top: 1px solid $c-gray-border;
  .wrapper940{
    padding: 70px 0 60px;
    .index-ttl{
      text-align: center;
    }
  }
  .press-blocks{
    margin: 0 -6px;
    .press-item{
      float: left;
      margin: 6px;
      position: relative;
      display: block;
      text-decoration: none;
      color: $c-white;
      height: 305px;
      background-position: center center;
      background-size: cover;
      &:hover:after{
        background-color: rgba(0,0,0,0.2);
      }
      .img{
        width: 100%;
        height: 100%;
        line-height: 0;
        img{
          min-height: 100%;
          min-width: 100%;
        }
      }
      .ttl{
        position: absolute;
        bottom: 18px;
        left: 18px;
        z-index: 1;
        font: 25px/30px "BrutalBold";
      }
    }
  }
}
.press-item-1{
  width: 305px;
}
.press-item-2{
  width: 623px;
}
.media-gallery-page{
  padding-bottom: 62px;
  h1{
    margin-bottom: 14px;
    float: left;
    margin-right: 25px;
  }
  .foto-video-buttons{
    float: left;
    padding-top: 20px;
    .media-link{
      display: inline-block;
      font: 17px/15px "BrutalMedium";
      color: $c-light-grey;
      &:hover{
        text-decoration: none;
        color: $c-blue;
      }
      &.active{
        color: $c-blue;
      }
      &.media-foto{
        background: url(images/icon-photo.png) no-repeat 0 -15px;
        padding-left: 30px;
        margin-right: 17px;
        &:hover,
        &.active{
          background-position: 0 0;
        }
      }
      &.media-video{
        background: url(images/icon-video.png) no-repeat 0 -14px;
        padding-left: 20px;
        &:hover,
        &.active{
          background-position: 0 1px;
        }
      }
    }
  }
}
.media-foto-block{
  margin: 0 -10px 16px;
  .media-foto-item{
    width: 460px;
    height: 310px;
    &:first-of-type{
      width: 940px;
      height: 410px;
      .prev-news-item-body{
        bottom: 27px;
        .date{
          margin-bottom: 2px;
        }
        .ttl{
          font: 36px/36px "BrutalBold";
        }
      }

    }
    &:before{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      background: url(images/angle.png) no-repeat;
      width: 57px;
      height: 55px;
    }
  }
}
.media-foto-item{
  float: left;
  margin: 0 10px 20px;
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: $c-white;
  &:hover{
    color: $c-white;
    text-decoration: none;
    &::after{
      background-color: rgba(0,0,0,0.2);
    }
  }
  .prev-news-item-img{
    line-height: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    img{
      min-height: 100%;
      min-width: 100%;
    }
  }
  .prev-news-item-body{
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
    .date{
      font: 14px/14px "OpenSans";
      margin-bottom: 10px;
    }
    .ttl{
      font: 18px/25px "BrutalMedium";
    }
  }
}
.news-ttl{
  background-color: #505e66;
  background-image: linear-gradient(to right, #007dc5 0%, #4d60a7 100%);
  width: 100%;
  color: $c-white;
  text-align: center;
  padding: 115px 0 38px;
  .wrapper940{
    position: relative;
  }
  .to-allnews{
    position: absolute;
    top: -73px;
    left: 0px;
    color: $c-white;
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
    padding-left: 20px;
    background: url(images/last-arr.png) no-repeat 0px 3px;
  }
  .date{
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  h1{
    font: 48px/60px "BrutalLight";
    height: 186px;
  }
  &.video-album{
    background: $c-violet;
  }
}
.news-detail{
  padding: 54px 0 0;
  p{
    font: 17px/30px "OpenSansLight";
    margin-bottom: 30px;
    &.prev{
      font: 25px/36px "BrutalMedium";
      margin-bottom: 40px;
    }
  }
  .quote{
    font: 25px/36px "BrutalBold";
    color: #000;
    border-top: 2px solid $c-violet;
    border-bottom: 2px solid $c-violet;
    padding: 47px 80px 49px 30px;
    margin-bottom: 40px;
  }
}
.news-video{
  margin-bottom: 95px;
}
.news-dop-materials{
  .ttl{
    font: 27px/30px "BrutalBold";
    margin-bottom: 55px;
  }
  .docs-list{
    padding-bottom: 130px;
    .one-doc{
      float: left;
      width: 390px;
      min-height: 54px;
      padding-left: 78px;
      font: 15px/25px "OpenSans";
      margin-bottom: 20px;
      &:nth-child(odd){
        margin-right: 40px;
      }
      &:nth-child(even){
        width: 350px;
      }
      .doc-ttl{
        color: $c-violet;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
      .doc-size{
        color: $c-footer;
      }
    }
  }
}
.news-pluso{
  border-top: 1px solid $c-gray-border;
  padding: 20px 0;
}
.detail-news-slider{
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  .swiper-wrapper{
    line-height: 0;
  }
  .news-slider-img{
    @include bg-img();
    width: 100%;
    height: 595px;
  }
  .news-slider-ttl{
    background-color: $c-violet;
    color: $c-white;
    font: 15px/25px "BrutalLight";
    padding: 15px 20px;
    span{
      font-family: "BrutalBold";
    }
  }
  .news-slider-pagination{
    position: absolute;
    bottom: 10px;
    right: 20px;
    z-index: 2;
    text-align: right;
    .swiper-pagination-bullet{
      display: inline-block;
      text-align: center;
      width: 30px;
      height: 30px;
      background-color: $c-white;
      border: 1px solid $c-gray-border;
      font: 16px/29px "BrutalRegular";
      color: $c-light-grey;
      margin:0 10px 0 0;
      border-radius: 0;
      opacity: 1;
      &.swiper-pagination-bullet-active{
        background-color: $c-white;
        border: 1px solid $c-gray-border;
        opacity: 1;
        color: $c-violet;
      }
    }
  }
}
.video-album-gallery{
  margin: 0 -6px 70px;
  .video-album-item{
    @include bg-img();
    float: left;
    margin: 0 6px;
    overflow: hidden;
    line-height: 0;
    width: 226px;
    height: 166px;
    margin-bottom: 20px;
    display: block;
    position: relative;
    &.big{
      width: 100%;
      height: 595px;
    }
    &:before{
      content: "";
      position: absolute;
      top: 35%;
      right: 0;
      left: 0;
      margin: 0 auto;
      background: url(images/big-play.png) no-repeat 0 0;
      width: 53px;
      height: 53px;
      background-size: 53px 106px;
    }
    &:hover:before{
      background-position-y: -53px;
    }
    &:first-of-type{
      width: 940px;
      height: 595px;
      &:before{
        width: 106px;
        height: 106px;
        background-size: 106px 212px;
        top: 43%;
      }
      &:hover:before{
        background-position-y: -106px;
      }
    }
    img{
      min-width: 100%;
      min-height: 100%;
    }
  }
}
.photo-album{
  margin: 0 -6px 30px;
  .photo-album-item{
    line-height: 0;
    float: left;
    width: 226px;
    height: 167px;
    margin: 0 6px 10px;
    background-size: cover;
    background-position: center center;
    img{
      min-width: 100%;
      min-height: 100%;
    }
  }
}
.media-photo{
  padding-bottom: 90px;
  .show-more{
    border: 1px solid $c-bg2;
  }
}
.press-kit{
  padding-top: 15px;
  .ttl{
    font: 21px/30px "OpenSans";
    margin-bottom: 28px;
  }
}
.one-color-doc{
  min-height: 54px;
  padding-left: 60px;
  margin-bottom: 25px;
  .doc-ttl{
    font: 18px/25px "BrutalMedium";
    color: $c-main;
  }
  .doc-size{
    font: 15px/25px "OpenSansLight";
    font-style: italic;
    color: $c-footer;
  }
}
.two-colors{
  margin-bottom: 92px;
  .one-color{
    float: left;
    width: 360px;
    padding: 60px 20px 20px 90px;
    position: relative;
    .one-color-logo{
      margin-bottom: 30px;
      margin-left: 20px;
    }
    &:before{
      position: absolute;
      top: 2px;
      right: 8px;
      font: 12px/25px "BrutalRegular";
    }
    &:nth-child(1){
      background-color: $c-bg2;
      &:before{
        content: "СИНИЙ";
        color: $c-blue;
      }
      .one-color-doc{
        .doc-ttl{
          color: $c-main;
        }
        .doc-size{
          color: $c-footer;
        }
      }
    }
    &:nth-child(2){
      background-color: $c-blue;
      &:before{
        content: "БЕЛЫЙ";
        color: $c-bg2;
      }
      .one-color-doc{
        .doc-ttl{
          color: $c-white;
        }
        .doc-size{
          color: $c-white;
        }
      }
    }
    .one-color-ru{
      margin-bottom: 83px;
    }
  }
}
.firm-stile{
  margin-bottom: 90px;
  .ttl{
    margin-bottom: 40px;
  }
}
.allnews-page{
  padding-bottom: 102px;
  h1{
    margin-bottom: 14px;
  }
}
.allnews-list{
  margin: 0 -10px 36px;
}
.allnews-item-img{
  @include bg-img();
}
.allnews-item{
  float: left;
  height: 410px;
  margin: 0 10px 20px;
  display: block;
  position: relative;
  overflow: hidden;

  &-date{
    font: 14px/14px "OpenSans";
  }

  &:hover{
    text-decoration: none !important;
  }

  &.allnews-item_1{
    width: 300px;
    background: $c-white;

    .allnews-item-img{
      position: relative;
      overflow: hidden;
      height: 200px;
      width: 300px;
      img{
        min-width: 100%;
        min-height: 100%;
      }
      &:after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transition: .5s;
        background-color: transparent;
      }
    }
    &:hover .allnews-item-img:after{
      background-color: rgba(0,0,0,0.2);
    }
    .allnews-item-body{
      padding: 11px 22px 0px;
      height: 175px;
      overflow: hidden;
    }
    .allnews-item-date{
      font: 14px "OpenSans";
      color: $c-violet;
      margin-bottom: 9px;
    }
    .allnews-item-ttl{
      font: 18px/25px "BrutalMedium";
      margin-bottom: 16px;
      color: $c-main;
    }
    .allnews-item-desc{
      font: 15px/25px "BrutalRegular";
      color: $c-footer;
    }
  }

  &.allnews-item_2{
    width: 620px;
    .allnews-item-body{
      position: absolute;
      bottom: 30px;
      left: 20px;
      z-index: 2;
      color: $c-white;
    }
    .allnews-item-img{
      line-height: 0;
      width: 100%;
      height: 100%;
      img{
        min-height: 100%;
        min-width: 100%;
      }
    }
    .allnews-item-date{
      margin-bottom: 10px;
    }
    .allnews-item-ttl{
      font: 18px/25px "BrutalMedium";
    }
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, rgba(0,0,0,0.4) 0%, transparent 50%, transparent 100%);
      position: absolute;
      top: 0;
      left: 0;
      transition: .5s;
    }
    &:hover:after {
      background-color: rgba(0,0,0,0.2);
    }
  }

  &.allnews-item_3{
    width: 940px;
    .allnews-item-body{
      position: absolute;
      bottom: 23px;
      left: 20px;
      z-index: 2;
      color: $c-white;
    }
    .allnews-item-img{
      line-height: 0;
      width: 100%;
      height: 100%;
      img{
        min-height: 100%;
        min-width: 100%;
      }
    }
    .allnews-item-ttl{
      font: 36px/36px "BrutalBold";
      margin-bottom: 10px;
    }
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, rgba(0,0,0,0.4) 0%, transparent 50%, transparent 100%);
      position: absolute;
      top: 0;
      left: 0;
      transition: .5s;
    }
    &:hover:after {
      background-color: rgba(0,0,0,0.2);
    }
  }
}