.prod-1{
  margin-bottom: 63px;
}
.prod-2{
  margin-bottom: 62px;
}
.moos-list{

}
.moos-item{
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 80px;
  margin-bottom: 50px;
  &__ttl{
    font: 19px/30px "OpenSans";
  }
}
.prod7-slider{
  margin-bottom: 90px;
}
.prod7-docs{
  margin-bottom: 100px;
}
.prod1-bg{
  margin-top: -1px;
  height: 520px;
  margin-bottom: 11px;
  background-position: center center;
  background-size: cover;
  .wide-bg__inner{
    padding-top: 135px;
    .first-line{
      margin-bottom: 29px;
    }
    .second-line{
      margin-bottom: 69px;
    }
    .red-button{
      padding: 0 68px;
    }
  }
}
.prod-diagrams-wrapper{
  margin-bottom: 20px;
}
.prod-diagram-item{
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.prod-diagram-item__desc{
  width: 500px;
  flex: 0 0 auto;
}
.prod-diagram-item__diagram{
  padding-top: 35px;
}
.diagram-ttl{
  text-align: center;
  font: 15px/21px "BrutalRegular";
  margin-bottom: 38px;
}
.prod-diagram-line{
  padding: 52px 0 30px;
  margin-left: calc((100vw - 957px) / -2);
  margin-right: calc((100vw - 957px) / -2);
  &:nth-child(even){
    background: $c-bg2;
    border-top: 1px solid $c-gray-border;
    border-bottom: 1px solid $c-gray-border;
    .prod-diagram-item{
      flex-direction: row-reverse;
    }
  }
  &:nth-child(odd){
    .prod-diagram-item{
      flex-direction: row;
    }
  }
}
.prod-diagram-item__ttl{
  font: 27px/30px "BrutalBold";
  margin-bottom: 34px;
}
.prod1-slider{
  margin-bottom: 64px;
}
.full-grey-prod6{
  margin-bottom: 67px;
  &__wrapper{
    padding: 80px 0 87px;
  }
  &__ttl{
    font: 36px/36px "BrutalBold";
    text-align: center;
    margin-bottom: 77px;
  }
  &__content{
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &__diagram-overlay{
    width: 220px;
    height: 220px;
    margin-top: -16px;
    margin-left: 20px;
  }
  &__legend{
    width: 265px;
    font: 15px/21px "BrutalRegular";
  }
  &__legend-item{
    margin-bottom: 28px;
    display: flex;
  }
  &__legend-pin{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin-right: 14px;
    margin-top: 8px;
    flex: 0 0 auto;
  }
}
.diagram-wrapper{
  background-color: $c-bg2;
  border: 1px solid $c-gray-border;
  padding: 20px 20px 40px 30px;
  margin: 0 -20px 60px;

}
.diagram-ttl{
  font: 15px/21px "BrutalRegular";
  margin-bottom: 20px;
}
.prod7-p{
  margin-bottom: 57px;
}
.prod6-slider{
  margin-bottom: 95px;
}
.full-map-img{
  margin-left: calc((100vw - 957px) / -2);
  margin-right: calc((100vw - 957px) / -2);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.map-img{
  background-position: top center;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
.prod3-map{
  //height: 530px;
}
.prod3-diagram{
  margin-bottom: 55px;
  border-top: 0 !important;
}
.prod3-slider{
  margin-bottom: 60px;
}

.prod2-bl1{
  @include clearfix();
  margin-bottom: 65px;
}
.img-right{
  float: right;
}
.prod2-bl1__img{
  margin-left: 20px;
  padding-top: 10px;
}
.flex-line{
  display: flex;
  justify-content: space-around;
}
.grad-num{
  font: 60px/60px "BrutalBold";
}
.grad-p1{
  font: 15px/21px "BrutalRegular";
  opacity: .5;
  margin-bottom: 10px;
}
.grad-p2{
  font: 15px/21px "BrutalRegular";
}
.prod2-people{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 70px;
}
.prod2-man{
  margin: 0 10px 45px;
}
.prod2-man__img{
  @include bg-img();
  width: 220px;
  height: 250px;
  margin-bottom: 10px;
}
.prod2-man__name{
  font: 18px/25px "BrutalMedium";
}
.fullwidth.gradient.prod2-gradient{
  height: auto !important;
  margin-bottom: 52px !important;
  .inner{
	padding-top: 78px !important;
	padding-bottom: 112px !important;
  }
  .under-ttl{
	margin-bottom: 78px !important;
  }
}
.prod2-slider{
  margin-bottom: 35px;
}
.prod3-map2{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.map2-legend{
  font: 17px/17px "OpenSansLight";
  margin-bottom: 40px;
}
.map2-legend-ttl{
  margin-bottom: 22px;
}
.map2-legend-line{
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}
.map2-legend-line-img{
  flex: 0 0 auto;
  width: 30px;
  height: 35px;
  margin-right: 7px;
  background-repeat: no-repeat;
  background-position: center center;
}
.map2-map{
  flex: 0 0 auto;
}
.map2-img{
  @include bg-img();
  width: 440px;
  height: 540px;
}
.map2-legend2{
  .map2-legend-line{
	color: $c-footer;
	font: 15px/21px "BrutalRegular";
	&:before{
	  content: "";
	  width: 10px;
	  height: 10px;
	  border-radius: 50%;
	  margin-right: 30px;
	}
  }
  .col1:before{
	background: #8b30b6;
  }
  .col2:before{
	background: #0034db;
  }
  .col3:before{
	background: #31b430;
  }
}
.prod9-img{
  max-width: 100%;
}